@model smk_travel.Models.Viagem

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Viagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroBilhete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroBilhete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itinerario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itinerario.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanhiaAerea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanhiaAerea.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataChagada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataChagada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alojamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alojamento.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TesteCovid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TesteCovid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospede)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasDeTrabalho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasDeTrabalho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAtualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classe.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDeBilhete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDeBilhete.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoDaViagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoDaViagem.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalBilhete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalBilhete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoBilhete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoBilhete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoReemissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoReemissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxaReembolso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxaReembolso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustoNoShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustoNoShow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processo.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSolicitacaoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSolicitacaoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSolicitacaoFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSolicitacaoFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arquivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arquivo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
