@model IEnumerable<smk_travel.Models.Viagem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itinerario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanhiaAerea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataChagada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alojamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TesteCovid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasDeTrabalho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataAtualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeBilhete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoDaViagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxa1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Funcionario.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Itinerario.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanhiaAerea.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataChagada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alojamento.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TesteCovid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasDeTrabalho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAtualizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classe.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeBilhete.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoDaViagem.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taxa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taxa1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
