@model smk_travel.Models.Processo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itinerario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itinerario.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Site.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataChagada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataChagada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TesteCovid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TesteCovid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasDeTrabalho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasDeTrabalho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAtualizacao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
